<div class="container d-flex justify-content-center align-items-center" style="height:100vh;">
  <div class="row">
    <div class="col-12">
      <h1 class="text-center mb-5">
        <span class="primary">Search</span><span class="secondary"> d_evs</span>
      </h1>
    </div>
    <div class="col-12 mt-5">
      <form class="w-100" [formGroup]="searchForm" (ngSubmit)="submitForm()">
        <div class="form-row d-flex justify-content-center">
          <div class="col-10">
            <input type="text" class="form-control" placeholder="Search" aria-label="Search" formControlName="username">
            <span *ngIf="false">
              Favor digitar usuário
            </span>
          </div>
          <div class="col-2">
            <button type="submit" class="btn btn-default">Search</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
