.primary {
  color: #0069CA;
}

.secondary {
  color: #8C19D2;
}

.btn-default {
  background-color: #8C19D2;
  color: #fff;
  width: 176px;
  height: 48px;
  font-size: 18px;
  font-weight: 500;
}

.btn-default:hover {
  background-color: #0b5d64;
  color: #fff;
}

.form-control {
  min-height: 48px;
  font-size: 18px;
}

fa-icon {
  color: #8d99ac;
}

.card {
  border: none;
}

@media (max-width: 850px) {
  .btn-default {
    max-width: 130px;
  }
}

/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css"
